:root {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}
:root .inverted {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark .inverted {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}

:root {
  --base-font-feature-settings: 'ss01' on, 'liga' off, 'clig' off;
}

.divider-solid-horizontal-air {
  background-color: var(--border-air);
  width: inherit;
  height: 1px;
}

.divider-solid-horizontal-light {
  background-color: var(--border-light);
  width: inherit;
  height: 1px;
}

.divider-solid-horizontal-tint {
  background-color: var(--border-tint);
  width: inherit;
  height: 1px;
}

.divider-solid-horizontal-disabled {
  background-color: var(--border-disabled);
  width: inherit;
  height: 1px;
}

.divider-solid-horizontal-brand {
  background-color: var(--border-brand);
  width: inherit;
  height: 1px;
}

.divider-solid-horizontal-error {
  background-color: var(--border-error);
  width: inherit;
  height: 1px;
}

.divider-solid-horizontal-warning {
  background-color: var(--border-warning);
  width: inherit;
  height: 1px;
}

.divider-solid-horizontal-success {
  background-color: var(--border-success);
  width: inherit;
  height: 1px;
}

.divider-dashed-horizontal-air {
  background-image: linear-gradient(to right, var(--border-air) 66%, transparent 34%);
  background-size: 6px 1px;
  width: inherit;
  height: 1px;
}

.divider-dashed-horizontal-light {
  background-image: linear-gradient(to right, var(--border-light) 66%, transparent 34%);
  background-size: 6px 1px;
  width: inherit;
  height: 1px;
}

.divider-dashed-horizontal-tint {
  background-image: linear-gradient(to right, var(--border-tint) 66%, transparent 34%);
  background-size: 6px 1px;
  width: inherit;
  height: 1px;
}

.divider-dashed-horizontal-disabled {
  background-image: linear-gradient(to right, var(--border-disabled) 66%, transparent 34%);
  background-size: 6px 1px;
  width: inherit;
  height: 1px;
}

.divider-dashed-horizontal-brand {
  background-image: linear-gradient(to right, var(--border-brand) 66%, transparent 34%);
  background-size: 6px 1px;
  width: inherit;
  height: 1px;
}

.divider-dashed-horizontal-error {
  background-image: linear-gradient(to right, var(--border-error) 66%, transparent 34%);
  background-size: 6px 1px;
  width: inherit;
  height: 1px;
}

.divider-dashed-horizontal-warning {
  background-image: linear-gradient(to right, var(--border-warning) 66%, transparent 34%);
  background-size: 6px 1px;
  width: inherit;
  height: 1px;
}

.divider-dashed-horizontal-success {
  background-image: linear-gradient(to right, var(--border-success) 66%, transparent 34%);
  background-size: 6px 1px;
  width: inherit;
  height: 1px;
}

.divider-solid-vertical-air {
  background-color: var(--border-air);
  width: 1px;
  height: inherit;
}

.divider-solid-vertical-light {
  background-color: var(--border-light);
  width: 1px;
  height: inherit;
}

.divider-solid-vertical-tint {
  background-color: var(--border-tint);
  width: 1px;
  height: inherit;
}

.divider-solid-vertical-disabled {
  background-color: var(--border-disabled);
  width: 1px;
  height: inherit;
}

.divider-solid-vertical-brand {
  background-color: var(--border-brand);
  width: 1px;
  height: inherit;
}

.divider-solid-vertical-error {
  background-color: var(--border-error);
  width: 1px;
  height: inherit;
}

.divider-solid-vertical-warning {
  background-color: var(--border-warning);
  width: 1px;
  height: inherit;
}

.divider-solid-vertical-success {
  background-color: var(--border-success);
  width: 1px;
  height: inherit;
}

.divider-dashed-vertical-air {
  background-image: linear-gradient(to bottom, var(--border-air) 66%, transparent 34%);
  background-size: 1px 6px;
  width: 1px;
  height: inherit;
}

.divider-dashed-vertical-light {
  background-image: linear-gradient(to bottom, var(--border-light) 66%, transparent 34%);
  background-size: 1px 6px;
  width: 1px;
  height: inherit;
}

.divider-dashed-vertical-tint {
  background-image: linear-gradient(to bottom, var(--border-tint) 66%, transparent 34%);
  background-size: 1px 6px;
  width: 1px;
  height: inherit;
}

.divider-dashed-vertical-disabled {
  background-image: linear-gradient(to bottom, var(--border-disabled) 66%, transparent 34%);
  background-size: 1px 6px;
  width: 1px;
  height: inherit;
}

.divider-dashed-vertical-brand {
  background-image: linear-gradient(to bottom, var(--border-brand) 66%, transparent 34%);
  background-size: 1px 6px;
  width: 1px;
  height: inherit;
}

.divider-dashed-vertical-error {
  background-image: linear-gradient(to bottom, var(--border-error) 66%, transparent 34%);
  background-size: 1px 6px;
  width: 1px;
  height: inherit;
}

.divider-dashed-vertical-warning {
  background-image: linear-gradient(to bottom, var(--border-warning) 66%, transparent 34%);
  background-size: 1px 6px;
  width: 1px;
  height: inherit;
}

.divider-dashed-vertical-success {
  background-image: linear-gradient(to bottom, var(--border-success) 66%, transparent 34%);
  background-size: 1px 6px;
  width: 1px;
  height: inherit;
}
