:root {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}
:root .inverted {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark .inverted {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}

:root {
  --base-font-feature-settings: 'ss01' on, 'liga' off, 'clig' off;
}

.top-footer-section .right-section .logo {
  width: 82px;
}
.top-footer-section .right-section .info {
  color: var(--onback-shade-30);
}
.top-footer-section .right-section .info .tel a {
  text-decoration: none;
  color: var(--onback-shade-30);
}
.top-footer-section .right-section .info .tel-prefix, .top-footer-section .right-section .info .address-prefix {
  color: var(--onback-shade-5);
}
.top-footer-section .right-section .socials .media-icon {
  cursor: pointer;
}
.top-footer-section .left-section .all-links .links .link {
  cursor: pointer;
}
.top-footer-section .collapsible-items {
  display: none;
}

.mid-footer-section {
  gap: 136px;
}
.mid-footer-section .about-dp #expandable-text {
  margin: 10px;
}
.mid-footer-section .about-dp #expandable-text p {
  display: inline;
}
.mid-footer-section .about-dp #toggle-text {
  color: white;
  border: none;
  cursor: pointer;
}
.mid-footer-section .footer-download-section .stores .store {
  width: 97px;
  height: 30px;
  border: 0.5px solid black;
  border-radius: 74px;
}
.mid-footer-section .footer-download-section .qr .qr-code img {
  width: 92px;
  height: 92px;
}

.bot-footer-section .copy-right {
  color: var(--onback-shade-30);
}
.bot-footer-section .logos .logo {
  border: 0.5px solid gray;
  width: 48px;
  height: 48px;
  border-radius: 12px;
}
.bot-footer-section .logos .logo a {
  width: 40px;
  height: 40px;
}
.bot-footer-section .logos .logo a img {
  width: 40px;
  height: 40px;
}

@media (max-width: 744px) {
  .top-footer-section {
    flex-direction: column;
    gap: 28px !important;
  }
  .top-footer-section .right-section {
    align-items: center;
    text-align: center;
  }
  .top-footer-section .right-section .info .address {
    margin-left: 0 !important;
  }
  .top-footer-section .right-section .info .tel {
    margin-bottom: 28px !important;
  }
  .top-footer-section .left-section {
    display: none !important;
  }
  .top-footer-section .collapsible-items {
    display: block;
  }
  .top-footer-section .collapsible-items .collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
  }
  .top-footer-section .collapsible-items .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .mid-footer-section {
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
  .mid-footer-section .footer-download-section .stores {
    gap: 10px !important;
    flex-direction: row !important;
  }
  .mid-footer-section .footer-download-section .qr {
    display: none !important;
  }
  .bot-footer-section {
    flex-direction: column;
    align-items: center !important;
  }
  .bot-footer-section .copy-right {
    text-align: center;
  }
}
