:root {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}
:root .inverted {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark .inverted {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}

:root {
  --base-font-feature-settings: 'ss01' on, 'liga' off, 'clig' off;
}

.product-box {
  width: 155px;
  height: 286px;
}
.product-box .image {
  height: 147px;
  width: 147px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.product-box .image .purchase-type {
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 16px);
}
.product-box .image .purchase-type .credit,
.product-box .image .purchase-type .bnpl {
  background: var(--surface-elevated);
  border-radius: 100px;
  backdrop-filter: blur(5px);
  align-items: center;
}
.product-box .image img {
  width: 100% !important;
  height: 147px !important;
  mix-blend-mode: multiply;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.product-box .image .logo-container {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100px 100px 48px 48px;
  padding: 2px;
  backdrop-filter: blur(9px);
}
.product-box .image .logo-container .store-logo {
  width: 24px;
  height: 24px;
  background-color: var(--surface-back);
}
.product-box .image .logo-container .store-logo img {
  width: 24px !important;
  height: 24px !important;
  -o-object-fit: fill !important;
     object-fit: fill !important;
}
.product-box .image .logo-container .store-rate {
  border-radius: 48px;
  background: #eaeff7;
  padding: 4px 2px;
  width: 22px;
  height: 12px;
}
.product-box .image .logo-container.no-store-rate {
  border-radius: 100px;
}
.product-box .image .badge-wrapper {
  z-index: 1;
}
.product-box .content {
  justify-content: end;
  margin-right: 0 !important;
  width: 100%;
}
.product-box .content .title {
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  text-align: right;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-box .content .discount-wrapper {
  height: 18px;
}
.product-box .content .discount-value {
  text-decoration-line: line-through;
  text-decoration-color: var(--text-onback-low);
  text-align: left;
  margin-bottom: -4px;
}
.product-box .content .price {
  text-align: left;
}

.owl-carousel .owl-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tooltip-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-box::after {
  content: attr(data-tooltip);
  position: absolute;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-box:hover::after {
  opacity: 1;
  visibility: visible;
}
