:root {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}
:root .inverted {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark .inverted {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}

:root {
  --base-font-feature-settings: 'ss01' on, 'liga' off, 'clig' off;
}

.services-container {
  max-width: 800px;
  margin: 0 auto;
}

.service-card {
  flex: 0 1 calc(33.33% - 16px);
  box-sizing: border-box;
  border-radius: 24px;
  align-self: stretch;
}

.service-title {
  color: #1159FC;
  font-size: 20px;
}

.store-badge-left {
  position: absolute;
  left: -5px;
  top: -5px;
}
