:root {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}
:root .inverted {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark .inverted {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}

:root {
  --base-font-feature-settings: 'ss01' on, 'liga' off, 'clig' off;
}

.store-card-box {
  width: 285px;
  height: 183px;
  overflow: hidden;
}
.store-card-box .image {
  width: 100%;
  height: 115px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.store-card-box .image .purchase-type {
  position: absolute;
  bottom: 10px;
  right: 16px;
}
.store-card-box .image .purchase-type .credit, .store-card-box .image .purchase-type .bnpl {
  background: var(--surface-elevated);
  border-radius: 100px;
  backdrop-filter: blur(5px);
  align-items: center;
}
.store-card-box .image img {
  width: 100% !important;
  height: 115px !important;
  mix-blend-mode: multiply;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.store-card-box .image .logo-container {
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100px 100px 48px 48px;
  padding: 2px;
  backdrop-filter: blur(9px);
}
.store-card-box .image .logo-container .store-logo {
  width: 32px;
  height: 32px;
  background-color: var(--surface-back);
}
.store-card-box .image .logo-container .store-logo img {
  width: 24px !important;
  height: 24px !important;
  border-radius: 16px;
}
.store-card-box .image .logo-container .store-rate {
  border-radius: 48px;
  background: #EAEFF7;
  padding: 4px 2px;
  width: 30px;
  height: 16px;
}
.store-card-box .image .logo-container.no-store-rate {
  border-radius: 100px;
}
.store-card-box .image .badge-wrapper {
  z-index: 1;
}
.store-card-box .content {
  justify-content: start;
  margin-right: 0 !important;
  width: 100%;
}
.store-card-box .content .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  text-align: right;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.owl-carousel .owl-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tooltip-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-box::after {
  content: attr(data-tooltip);
  position: absolute;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-box:hover::after {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1280px) {
  .store-card-box {
    width: 155px;
    height: 125px;
    border-radius: 16px !important;
  }
  .store-card-box .image {
    height: 71px;
  }
  .store-card-box .image img {
    height: 71px !important;
  }
  .store-card-box .image .purchase-type {
    right: 4px;
    bottom: 4px;
  }
  .store-card-box .image .logo-container {
    left: 5px;
    top: 5px;
  }
  .store-card-box .image .logo-container .store-logo {
    width: 28px;
    height: 28px;
  }
  .store-card-box .content {
    padding: 0 8px 8px !important;
  }
  .store-card-box .content .title {
    margin-top: 6px !important;
  }
}
