:root {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}
:root .inverted {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark {
  --shimmer-first-color: #191C23;
  --shimmer-second-color: #444851;
  --shimmer-third-color: #191C23;
}
:root .dark .inverted {
  --shimmer-first-color: #CED2DA;
  --shimmer-second-color: #F1F3F7;
  --shimmer-third-color: #CED2DA;
}

:root {
  --base-font-feature-settings: 'ss01' on, 'liga' off, 'clig' off;
}

.bgGradient {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.top-merchant-card-box {
  width: 480px;
  height: 250px;
}
.top-merchant-card-box .merchant-card-container .merchant-card-heading .store-logo.mobile {
  display: none;
}
.top-merchant-card-box .merchant-card-container .merchant-card-heading .store-logo.desktop {
  display: block;
}
.top-merchant-card-box .merchant-card-container .merchant-card-content .truncate {
  max-width: 430px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.top-merchant-card-box .merchant-card-container .store-products {
  gap: 12px;
}
.top-merchant-card-box .merchant-card-container .store-products .product-image {
  width: 103px;
  height: 103px;
}
.top-merchant-card-box .merchant-card-container .store-products .product-image figure .image-tag {
  width: 78px;
  height: 78px;
}

@media (max-width: 1280px) {
  .top-merchant-card-box {
    width: 274px;
    height: 194px;
  }
  .top-merchant-card-box .merchant-card-container .merchant-card-heading .store-logo.mobile {
    display: block;
  }
  .top-merchant-card-box .merchant-card-container .merchant-card-heading .store-logo.desktop {
    display: none;
  }
  .top-merchant-card-box .merchant-card-container .merchant-card-content .truncate {
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .top-merchant-card-box .merchant-card-container .store-products {
    gap: 6px;
  }
  .top-merchant-card-box .merchant-card-container .store-products .product-image {
    width: 56px;
    height: 56px;
  }
  .top-merchant-card-box .merchant-card-container .store-products .product-image figure .image-tag {
    width: 44px;
    height: 44px;
  }
}
